services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ../:/workspace:cached

    command: sleep infinity

    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1

    ports:
      - "8000:8000"  # Backend API
      - "5173:5173"  # Frontend Dev Server
